<div>
    <a href="#/" class="btn btn-sm btn-default"><i class="fa fa-angle-left"/> Back</a> <!--href="#/"  root-->
    <div class="col-md-3">
        <h2>{{ viewModel.tripName }}</h2>
        <wait-cursor display-when="viewModel.isBusy"></wait-cursor>
        <div class="alert alert-danger"  ng-show="viewModel.errorMessage">{{ viewModel.errorMessage }}</div> <!--ng-show shows only when errorMessage is not blank-->

        <table class="table table-responsive table-striped">
            <tr>
                <th>Location</th>
                <th>Arrival</th>
            </tr>
            <tr ng-repeat="stopItem in viewModel.stops">
                <td>{{viewModel.name}}</td>
                <td>{{viewModel.arrival | date:shortDate}}</td>
            </tr>
        </table>

        <form>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control" />
            </div>
            <div><input type="submit" value="Add" class="btn btn-success" /></div>
        </form>
    </div>

    <div class="col-md-9">
        <h2>The Map</h2>

    </div>
</div>