@{ 
    ViewBag.Title = "Home Page";
}


<title>The World - @ViewBag.Title</title>


<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div><input type="submit" value="Add" /></div>
</form>
