@{ 
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>The World - @ViewBag.Title</h1>

    <div class="col-md-6"> <!--<div class="col-md-6">-->
        <form>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control" />
            </div>
            <div><input type="submit" value="Add" class="btn btn-success" /></div>
        </form>
    </div>

    <div class="col-md-6">
        <h2>The Map</h2>
    </div>

</div>