@model IEnumerable<TheWorld.Models.Trip>
@{ 
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div class="col-md-12">
        <h1>Welcome to The World</h1>
        <p>Plan your tip here!</p>
        <a asp-controller="app" asp-action="trips" class="btn btn-lg btn-success">View my trip</a>
    </div>
</div>